<%- include("./partials/header.ejs") %>

    <div class="box" id="list">
        <form action="/" class="item" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list">+</button>
        </form>        <!-- input text and submit button -->



        <% for(var i=0; i < item.length; i++){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <div class="round">

                        <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()"
                            id="checkbox">
                        <label for="checkbox"></label>

                    </div>
                    <p>
                        <%= item[i] %>
                    </p>
                    <br>
                    <span>&#10006;</span>

                </div>
            </form>
            <% } %>



    </div>













    </div>

    <%- include("./partials/footer.ejs") %>