<%- include("./partials/header.ejs") %>

<div class="box" id="list">
    <form action="/work" class="item" method="post">
        <input type="text" name="workItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list">+</button>
    </form>


    <%  for(var i = 0; i < items.length; i++){ %>
        <div class="item">
            <div class="round">

                <input type="checkbox" name="checkbox" value="<%= items %>" onChange="this.form.submit()"
                    id="checkbox">
                <label for="checkbox"></label>

            </div>
            <p>
                <%= items[i] %>
            </p>
            <br>
        </div>
    <% } %>



</div>


    <%- include("./partials/footer.ejs") %>